.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    display: block;
  }

  .sidebar__wrapper {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 35px 0;
    box-sizing: border-box;
  }

  .sidebar__section--about,
  .sidebar__section--info {
    display: none;
  }

  .sidebar__tag-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 983px;
    width: 88.8%;
    margin: 0 auto;
    overflow: hidden;
    max-height: 54px;
  }

  .sidebar__tag-item {
    display: inline-flex;
    position: relative;
    height: 18px;
    min-width: 50px;
    margin-right: 12px;
    margin-bottom: 10px;
    padding: 2px 17px 0 15px;
    vertical-align: middle;
    color: #fff;
    background: #6794b7;
    font-family: "Arial";
    cursor: pointer;
    box-sizing: border-box;
  }

  .sidebar__tag-item::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    top: 2.5px;
    right: -6px;
    background: #6794b7;
    transform: rotateY(1deg) rotateZ(-45deg);
    z-index: 1;
  }

  .sidebar__tag-item::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    top: 5px;
    right: 0;
    border-radius: 50%;
    background: #fcfcfc;
    z-index: 2;
  }
}


@media (min-width: 1024px) {
  .sidebar {
    width: 257px;
  }

  .sidebar__wrapper {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
  }

  .sidebar__section--about,
  .sidebar__section--info {
    display: block;
    margin-bottom: 35px;
  }

  .sidebar__container {
    display: flex;
    align-items: center;
    margin-bottom: 17px;
    border-bottom: 5px solid #6794b7;
  }

  .sidebar__sign-container {
    background-color: #6794b7;
    width: 30px;
    height: 25px;
    margin-right: 5px;
  }

  .sidebar__sign {
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding-top: 3px;
  }

  .sidebar__title {
    font-size: 18px;
    color: #6794b7;
  }

  .sidebar__text {
    font-family: "Arial";
    text-align: justify;
    word-spacing: -0.1px;
    line-height: 1.5;
  }

  .sidebar__tag-items {
    justify-content: flex-start;
    max-width: 255px;
    width: 100%;
    max-height: 380px;
  }

  .sidebar__tag-item {
    margin-bottom: 6px;
  }

  .sidebar__tag-item:nth-child(3),
  .sidebar__tag-item:nth-child(13),
  .sidebar__tag-item:nth-child(14),
  .sidebar__tag-item:nth-child(15) {
    display: none;
  }
}
